@import "../main.css";

.card {
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-background-color: -fx-white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}
