#navbar {
    -fx-background-color: -fx-primary-600;
    -fx-padding: 20px;
    -fx-alignment: center-left;
    -fx-view-order: -1;
}

#navbar Label {
    -fx-text-fill: -fx-white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-graphic-text-gap: 10px;
}

#navbar Button {
    -fx-background-color: transparent;
}

#navbar .initials {
    -fx-background-color: -fx-primary-400;
    -fx-border-color: -fx-primary-200;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 15px 10px 15px 10px;
}

#sidebar {
    -fx-background-color: -fx-primary-500;
    -fx-padding: 20px;
    -fx-spacing: 20px;
}

#sidebar .sidebar-item {
    -fx-background-color: transparent;
    -fx-alignment: center-left;
    -fx-spacing: 10px;
    -fx-font-weight: bold;
}

#center {
    -fx-padding: 20px;
}

#center .title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

#center .card {
    -fx-padding: 10px;
    -fx-background-color: -fx-white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}
