@import "main.css";

#dashboard {
    -fx-padding: 20px;
}

#dashboard-name {
    -fx-text-fill: -fx-primary-500;
    -fx-font-size: 42px;
    -fx-font-weight: bolder;
}

#dashboard-no-contract {
    -fx-text-fill: gray;
    -fx-font-size: 14px;
}

#workload-meter {
    -fx-pref-height: 20px;
    -fx-background-radius: 10px;
}

#workload-meter.workload-low .bar {
    -fx-background-color: #22c55e;
    -fx-background-radius: 10px;
}

#workload-meter.workload-medium .bar {
    -fx-background-color: #f59e0b;
    -fx-background-radius: 10px;
}

#workload-meter.workload-high .bar {
    -fx-background-color: #ef4444;
    -fx-background-radius: 10px;
}

#workload-hours {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
