@import "main.css";

#top-bar {
    -fx-background-color: -fx-primary-600;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 15, 0, 10, 0);
    -fx-padding: 20px;
    -fx-alignment: center-left;
}

#top-bar Label {
    -fx-text-fill: -fx-white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#left-bar {
    -fx-background-color: -fx-primary-400;
    -fx-padding: 20px;
    -fx-spacing: 30px;
}

.sidebar-item {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

#left-bar Label {
    -fx-text-fill: -fx-white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}