@import "main.css";

* {
    -fx-background-0: #4a6fa5;
    -fx-background-50: #57c785;
    -fx-background-100: #eddd53;
}

#login-view {
    -fx-background-color: radial-gradient(center 50% 50%, radius 75%, -fx-primary-500, -fx-primary-900);
    -fx-alignment: center;
}

#login-form {
    -fx-background-color: -fx-white;
    -fx-padding: 20px;
    -fx-background-radius: 10px;
    -fx-border-color: -fx-black;
    -fx-border-width: 3px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 10, 10);
}

#login-form Label {
    -fx-font-weight: bold;
}

#login-form TextField,
#login-form PasswordField {
    -fx-font-weight: bold;
    -fx-border-color: -fx-black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

#login-form TextField:focused,
#login-form PasswordField:focused {
    -fx-border-color: -fx-primary-600;
    -fx-focus-color: -fx-primary-200;
    -fx-faint-focus-color: -fx-primary-200;

}

#login-button {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-white;
    -fx-background-color: -fx-black;
    -fx-border-color: transparent;
}

#login-button:hover {
    -fx-background-color: -fx-primary-600;
}

#register-button {
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-text-fill: -fx-black;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#register-button:hover {
    -fx-text-fill: -fx-primary-600;
}
