@import "main.css";

#notification {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-background-radius: 10px;
}

#notification.success {
    -fx-background-color: #22c55e;
}

#notification.warning {
    -fx-background-color: #f59e0b;
}

#notification.error {
    -fx-background-color: #ef4444;
}

#notification-text {
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#notification-close {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-font-size: 16px;
}
